/* Styles for small devices (default) */
.horizontal-scroll-container {
  padding: 20px;
  overflow: hidden;
  width: 100%; /* Adjust this width to fit two items */
  position: relative;
}

.content {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.item {
  background-color: transparent;
  border: none;
  flex: 0 0 50%; /* Each item takes 50% of the container width */
  padding: 20px;
  color: black;
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  border-bottom: none;
}

.item.selected {
  color: #c92d0e;
  border-bottom: 3px solid #c92d0e;
}

.scroll-to-first {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust as needed */
  transform: translateY(-50%);
  background: #f1f1f1;
  border: none;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
}

.categories-list {
  display: none;
}

/* Styles for large devices */
@media screen and (min-width: 768px) {
  .horizontal-scroll-container {
    display: none;
  }

  .categories-list {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
  }
}

.categorie-item {
  list-style-type: none;
}

.categorie-btn {
  border: none;
  background-color: transparent;
  color: black;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  border-bottom: none;
  padding: 20px;
}

.categorie-btn.selected {
  color: #c92d0e;
  border-bottom: 3px solid #c92d0e;
}
